# build system files & directories
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

# gtest files
/gtest/

# VS Code files
.vscode/

# binary files
*.o
*.a
*.so
*.exe
*.dll

# log files
*.log

# Vim swap files
*.swp

# Emacs backup files
*~

# other files of C++ projects
*.obj
*.pdb
*.pch
*.ilk
*.lib
*.exp
*.idb
*.ipch
*.rsp
*.tlog
*.log
*.vspscc
*.vssscc
*.suo
*.user
*.userosscache
*.sln.docstates

# log files
*.log

# operating system files
Thumbs.db
Desktop.ini

# linux operating system files
*~

#clangd library
.cache
.clang-format